@font-face {
    font-family: 'montserrat';
    src: url('../fonts/src/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/src/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/src/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/src/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cinzel';
    src: url('../fonts/src/CinzelDecorative-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }