* {
    box-sizing: border-box;
    margin: 0;
}
.body {
    font-family: 'montserrat' , 'Arial' , sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #3a3941;
    font-size: 20px;
    overflow: hidden;
}
a {
    text-decoration: none; 
    font-size: 16px;
}

p {
    color: $text;
    font-size: 16px;
    font-family: 'montserrat';
    margin: 0;
}

ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-style: 36px;
    font-family: 'montserrat';
    color: $text;
}

.logo {
    text-align: center;
    font-family: 'cinzel', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $logo;
    font-size: 100px;
    margin-top: 30px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
 
@media screen and (max-width: 768px) {
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
    }
    a {
        font-size: 14px;
    }
    .logo {
        margin-top: 20px;
        font-size: 60px;
      }
}